@model Project_LucSavat.Models.ViewModels.ZoekertjeViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("CreateZoekertje","Admin",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table class="table table-bordered">
                <tr>
                    <td>@Html.LabelFor(v => v.Zoekertje.Title, new { @class = "control-label" })</td>
                    <td>@Html.TextBoxFor(v => v.Zoekertje.Title, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(v => v.Zoekertje.Prijs, new { @class = "control-label" })</td>
                    <td>@Html.TextBoxFor(v => v.Zoekertje.Prijs, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(v => v.Zoekertje.Beschrijving, new { @class = "control-label" })</td>
                    <td>@Html.TextAreaFor(v => v.Zoekertje.Beschrijving, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(v => v.Zoekertje.VehicleId, new { @class = "control-label" })</td>
                    <td>@Html.DropDownListFor(v => v.Zoekertje.VehicleId, Model.Vehicles, new {@class="form-control" })</td>
                </tr>
            </table>
             
            <input type="submit" value="Zoekertje Aanmaken" class="btn btn-default"/>
            @Html.ActionLink("Cancel","Index",null, new { @class="btn btn-default"})
            }
        </div>
    </div>
</div>