@model Project_LucSavat.Models.ViewModels.VehicleViewModel

<h2>EDIT</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(v => v.Vehicle.Id)
                <table class="table table-bordered">
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.Merk, new { @class = "control-label" })</td>
                        <td>@Html.EnumDropDownListFor(v => v.Vehicle.Merk, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.Type, new { @class = "control-label" })</td>
                        <td>@Html.TextBoxFor(v => v.Vehicle.Type, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.EersteInschrijving, new { @class = "control-label" })</td>
                        <td>@Html.TextBoxFor(v => v.Vehicle.EersteInschrijving, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.KmStand, new { @class = "control-label" })</td>
                        <td>@Html.TextAreaFor(v => v.Vehicle.KmStand, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.Transmissie, new { @class = "control-label" })</td>
                        <td>@Html.EnumDropDownListFor(v => v.Vehicle.Transmissie, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.Kleur, new { @class = "control-label" })</td>
                        <td>@Html.TextAreaFor(v => v.Vehicle.Kleur, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.AantalDeuren, new { @class = "control-label" })</td>
                        <td>@Html.TextAreaFor(v => v.Vehicle.AantalDeuren, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(v => v.Vehicle.Brandstof, new { @class = "control-label" })</td>
                        <td>@Html.EnumDropDownListFor(v => v.Vehicle.Brandstof, new { @class = "form-control" })</td>
                    </tr>

                </table>
                <div>
                    @for (int i = 0; i < Model.OptiesCheckBox.Count(); i++)
                    {
                        <div>
                            @Html.HiddenFor(m => m.OptiesCheckBox[i].Id)
                            @Html.HiddenFor(m => m.OptiesCheckBox[i].Naam)
                            @Html.Label(Model.OptiesCheckBox[i].Naam)
                            @Html.CheckBoxFor(m => m.OptiesCheckBox[i].Checked, new { @class = "form-control" })
                        </div>
                    }
                </div>


             

                <input type="submit" value="Zoekertje Aanmaken" class="btn btn-default" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            }
        </div>
        @ViewBag.Info
    </div>
</div>